<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="methods" thread-count="2">
    <test name="Regression1">
        <classes>
            <class name="org.ktentech.FirstTestNG"/>
            <class name="org.ktentech.SecondTestNG"/>
            <class name="org.ktentech.ThirdTestNG"/>
        </classes>
    </test>
</suite>
